html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

main.container {
	/* pad top to account for the navbar */
	padding: 70px 15px 0;
}

main.container-fluid {
	/* pad top to account for the navbar */
	padding-top: 70px;
}

.new-entity {
	margin-bottom: 1rem;
}

.vertical-space {
	margin-top: 15px;
	margin-bottom: 15px;
}

.error-text {
	color:#a94442;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 3.5rem;
}

#app_version {
	margin-top: -0.5rem;
	margin-bottom: 2rem;
}

#logos {
	/* Adjusting the height will change the size of the logos. */
	height: 70px;
}

.custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {
	border-color: #ced4da; /* default grey border color */
}

label.required-field::after {
	content: " *";
	color: red;
}

footer img.img-fluid {
	height: 100%;
	margin-right: 1.2rem;
}

footer img.last-item {
	margin-right: 0px;
}

div.parent-summary {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

div.parent-summary strong {
	font-size: 1.2rem;
}

/** Bootstrap 5 **/
.form-group {
	margin-bottom: 1rem;
}

/** Vertically scrollable table with fixed header **/
.tableFixHead {
	overflow: auto;
	height: 16rem;
}

.tableFixHead thead th {
	position: sticky;
	top: 0;
	z-index: 1;
	background: white;
}

/** Selected visit row **/
.visit-list .table-active {
	background-color: rgba(var(--bs-primary-rgb), 0.25);
}

.instructions {
	font-weight: lighter;
	margin-left: 0.5rem;
}

.instructions i {
	color: rgb(176, 176, 176);
}

.omop-data {
	font-size: 0.9rem;
}
.omop-data table tbody {
	font-family: Courier, monospace;
	font-size: 0.8rem;
}

#omop_browser .nav-item, .entry-judgment {
	font-size: 0.9rem;
}

/** JudgeButton component styles **/
button.annotation-label {
	filter: opacity(60%);
	font-size: 0.8rem;
	border-color: lightgray;
}

button.annotation-label.light {
	color: black;
}

button.annotation-label.dark {
	color: white;
}

button.annotation-label:hover,
button.annotation-label:focus,
button.annotation-label.active {
	filter: opacity(100%);
}

button.annotation-label:focus {
	filter: brightness(95%);
}

button.annotation-label.active {
	border-color: darkgray;
}

.table-striped-with-details tr.main-row:nth-child(odd) {
	background-color: #f2f2f2;
}

.details-row {
	background-color: white;
}

.details-table {
	width: 95%;
	margin: 1rem 2rem;
	font-size: .9rem;
}