{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 versions"
                    ]
                },
                "useBuiltIns": "entry",
                "corejs": "3.11"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ],
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env"
            ]
        }
    }
}