/target/
!.mvn/wrapper/maven-wrapper.jar
.DS_Store

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.env
dev.properties
docker_data/
.mvn/
mvnw
mvnw.cmd

# Node
node_modules/
bundle-stats.json

# Jenv
.java-version

# Visual Studio Code
.vscode/launch.json
.vscode/tasks.json

