# Rename this to .env and fill in the appropriate values.

# Define the server context path which is used to contruct URLs. The default is /
#SERVER_SERVLET_CONTEXTPATH=/omop_annotator

# Set MySQL passwords - these are the defaults for local development and must be defined here.
MYSQL_PASSWORD=omop_annotator
MYSQL_ROOT_PASSWORD=root

# Uncomment and update if you change MYSQL_PASSWORD for local development
#APP_DATASOURCE_PASSWORD=omop_annotator

# Fill in *your* LDAP credentials below at YOUR_USERNAME and YOUR_PASSWORD.
LDAP_CONTEXTSOURCE_USERDN=cn=YOUR_USERNAME,ou=User Accounts,dc=ohsum01,dc=ohsu,dc=edu
LDAP_CONTEXTSOURCE_PASSWORD=YOUR_PASSWORD

# Set RDW connection parameters
OMOP_DATASOURCE_DRIVERCLASSNAME=oracle.jdbc.driver.OracleDriver
OMOP_DATASOURCE_URL=
OMOP_DATASOURCE_USERNAME=
OMOP_DATASOURCE_PASSWORD=
OMOP_HIBERNATE_DIALECT=org.hibernate.dialect.Oracle10gDialect

# OMOP Data configuration
OMOP_DATA_REFRESHDATE=2022-03-01
OMOP_DATA_DATEFORMAT=yyyy-MM-dd HH:mm:ss

SEARCH_BACKEND_DIRECTORY_ROOT=search_indices