# Copy this to .env and fill in the appropriate values.

# Define the server context path which is used to construct URLs. The default is /
#SERVER_SERVLET_CONTEXTPATH=/omop_annotator

#
# Data source configuration
#

# Set MySQL passwords - these are the defaults for local development and must be defined here.
MYSQL_PASSWORD=omop_annotator
MYSQL_ROOT_PASSWORD=root

# Uncomment and update if you change MYSQL_PASSWORD for local development
#APP_DATASOURCE_PASSWORD=omop_annotator

# OMOP data source connection parameters
OMOP_DATASOURCE_DRIVERCLASSNAME=oracle.jdbc.driver.OracleDriver
OMOP_DATASOURCE_URL=
OMOP_DATASOURCE_USERNAME=
OMOP_DATASOURCE_PASSWORD=
OMOP_HIBERNATE_DIALECT=org.hibernate.dialect.OracleDialect

# OMOP Data configuration
OMOP_DATA_REFRESHDATE=2022-03-01
OMOP_DATA_DATEFORMAT="yyyy-MM-dd HH:mm:ss"

# Search configuration
SEARCH_BACKEND_DIRECTORY_ROOT=search_indices

#
# LDAP authentication
#

# Enable LDAP authentication
#OCTRI_AUTHENTICATION_ENABLE_LDAP=true

# URL of the LDAP directory (e.g. "ldaps://ldap.example.edu:636")
#LDAP_CONTEXTSOURCE_URL=

# Base distinguished name (DN) of the directory (e.g. "dc=example,dc=edu")
#LDAP_CONTEXTSOURCE_BASEDN=

# User distinguished name (DN) used to bind to the directory (e.g. "cn=someuser,ou=Service Accounts,ou=User Accounts,dc=example,dc=edu")
#LDAP_CONTEXTSOURCE_USERDN=

# Password used to bind to the directory
#LDAP_CONTEXTSOURCE_PASSWORD=

# Subtree to search for user accounts (e.g. "ou=User Accounts,dc=example,dc=edu")
#LDAP_CONTEXTSOURCE_SEARCHBASE=

# Filter used to match user accounts (e.g. "(sAMAccountName={0})")
#LDAP_CONTEXTSOURCE_SEARCHFILTER=

# Used to populate the organization field of user accounts (optional, e.g. "University of Example")
#LDAP_CONTEXTSOURCE_ORGANIZATION=

# Email domain associated with user accounts (used to help identify LDAP accounts, e.g. "example.edu")
#LDAP_CONTEXTSOURCE_EMAILDOMAIN=

#
# Table-based authentication
#

# Enable table-based authentication, which stores hashed passwords in the database.
#OCTRI_AUTHENTICATION_ENABLE_TABLE_BASED=true

# NOTE: Table-based authentication uses Spring's mail support to send account management emails.
# https://docs.spring.io/spring-boot/appendix/application-properties/index.html#appendix.application-properties.mail

# Email address to use to send account emails
#SPRING_MAIL_FROM=

# Character encoding to use for account emails
#SPRING_MAIL_DEFAULT_ENCODING=UTF-8

# Hostname of the server used to send account emails (e.g. "smtp.example.edu")
#SPRING_MAIL_HOST=

# Port to connect to when sending account emails (e.g. 25 for SMTP)
#SPRING_MAIL_PORT=

# Protocol to use to send account emails (e.g. "smtp" or "smtps")
#SPRING_MAIL_PROTOCOL=

# Whether to test connecting to the email server on startup (e.g. "false")
#SPRING_MAIL_TEST_CONNECTION=

# User to use to connect to the email server
#SPRING_MAIL_USERNAME=

# Password to use to connect to the email server
#SPRING_MAIL_PASSWORD=
