# Rename this to .env and fill in the appropriate values.

# Define the server context path which is used to contruct URLs. The default is /
#SERVER_SERVLET_CONTEXTPATH=/omop_annotator

# Set MySQL passwords - these are the defaults for local development and must be defined here.
MYSQL_PASSWORD=omop_annotator
MYSQL_ROOT_PASSWORD=root

# Uncomment and update if you change MYSQL_PASSWORD for local development
#SPRING_DATASOURCE_PASSWORD=omop_annotator

# Fill in *your* LDAP credentials below at YOUR_USERNAME and YOUR_PASSWORD.
LDAP_CONTEXTSOURCE_USERDN=cn=YOUR_USERNAME,ou=User Accounts,dc=ohsum01,dc=ohsu,dc=edu
LDAP_CONTEXTSOURCE_PASSWORD=YOUR_PASSWORD
