{{>layout/header}}
<div class="container">
    <h1>Person</h1>
    {{>components/messages}}
    <div>
        {{#entity}}
        <div id="person_summary" data-context-path="{{req.contextPath}}" data-person-id="{{id}}"></div>
        <div id="visit-list" class="mb-4" data-context-path="{{req.contextPath}}" data-person-id="{{id}}"></div>
        <div id="condition_list" data-context-path="{{req.contextPath}}" data-person-id="{{id}}"></div>
        {{/entity}}
    </div>
{{>layout/footer}}
