{{>layout/header}}
<div class="container">
	<h1>Person</h1>
	{{>components/messages}}
	<div>
		{{#entity}}
		<div id="person_browser" data-context-path="{{req.contextPath}}" data-person-id="{{id}}"></div>
		{{/entity}}
	</div>
{{>layout/footer}}
