{{>layout/header}}
<div class="container">
    <h1>{{entityName}}</h1>
    {{>components/messages}}
    <div>
        {{#entity}}
        <h5>Name</h5>
        <p>
            {{#name}}{{.}}{{/name}}
            {{^name}}<span class="text-muted">None</span>{{/name}}
        </p>
		<h3>Annotation Labels</h3>
		<table class="table table-striped table-bordered sorted">
			<tr>
				<th>Display Order</th>
				<th>Display Name</th>
				<th>Output Value</th>
				<th>Accent Color</th>
			</tr>
			{{#labels}}
			<tr>
				<td>{{#displayOrder}}{{.}}{{/displayOrder}}</td>
				<td>{{#displayLabel}}{{.}}{{/displayLabel}}</td>
				<td>{{#outputLabel}}{{.}}{{/outputLabel}}</td>
				<td>{{#accentColor}}{{.}}{{/accentColor}}</td>
			</tr>
			{{/labels}}
		</table>
		{{>components/show_links}} 
		{{/entity}}
	</div>
    
</div>
{{>layout/footer}}
