{{>layout/header}}
<div class="container">
    <h1>{{entityName}}</h1>
    {{>components/messages}}
    <div>
        {{#entity}}
        <h5>Name</h5>
        <p>
            {{#name}}{{.}}{{/name}}
            {{^name}}<span class="text-muted">None</span>{{/name}}
        </p>
        {{>components/show_links}}
        {{/entity}}
    </div>
</div>
{{>layout/footer}}