{{>layout/header}}
<div class="container">
    <h1>{{entityName}}</h1>
    {{>components/messages}}
    <div>
        {{#entity}}
        <h5>Name</h5>
        <p>
            {{#name}}{{.}}{{/name}}
            {{^name}}<span class="text-muted">None</span>{{/name}}
        </p>
		<h3>Annotation Labels</h3>
		<table class="table table-striped table-bordered">
			<tr>
				<th>Display Order</th>
				<th>Display Name</th>
				<th>Output Value</th>
				<th>Accent Color</th>
			</tr>
			{{#labels}}
			<tr>
				<td>{{#displayOrder}}{{.}}{{/displayOrder}}</td>
				<td>{{#displayLabel}}{{.}}{{/displayLabel}}</td>
				<td>{{#outputLabel}}{{.}}{{/outputLabel}}</td>
				<td>{{#accentColor}}<input type="color" value="{{.}}" disabled></input>{{/accentColor}}</td>
			</tr>
			{{/labels}}
		</table>
    <a href="{{req.contextPath}}{{baseRoute}}/" class="btn btn-link"><i class="fas fa-list"></i> List</a>
    {{#noRelatedPools}}
      <a href="{{req.contextPath}}{{baseRoute}}/{{id}}/edit" class="btn btn-link"><i class="fas fa-edit"></i> Edit</a>
      <a href="{{req.contextPath}}{{baseRoute}}/{{id}}/delete" onclick="return confirm('Delete this item?');"
    	 class="btn btn-link text-danger"><i class="fas fa-minus-square"></i> Delete</a>
    {{/noRelatedPools}}

    {{/entity}}
	</div>

</div>
{{>layout/footer}}
