<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>{{displayName}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{{>authlib_fragments/meta_tags}}

	{{>authlib_fragments/css}}
	<link rel="stylesheet" href="{{req.contextPath}}/webjars/datatables/css/dataTables.bootstrap5.min.css">
	<link rel="stylesheet" href="{{req.contextPath}}/webjars/font-awesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="{{req.contextPath}}/assets/css/datepicker.css">
	<link rel="stylesheet" href="{{req.contextPath}}/assets/css/main.css">

	{{! Page-specific stylesheets can be specified in the view model }}
	{{#pageStyles}}
	<link rel="stylesheet" href="{{req.contextPath}}/assets/css/{{.}}">
	{{/pageStyles}}
</head>
<body>
	<header>

		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">{{displayName}}</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbar_collapse" aria-controls="navbar_collapse"
					role="button" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbar_collapse">
					<ul class="navbar-nav me-auto">
						<li class="nav-item"><a class="nav-link" href="{{req.contextPath}}/">Home</a></li>

						<!-- This currently contains no items, so it has been removed.
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="data_menu" data-bs-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">Data</a>
							<div class="dropdown-menu" aria-labelledby="data_menu">
								{{>components/data_items}}
							</div>
						</li>
						-->
						{{#isAdminOrSuper}}
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="admin_menu" data-bs-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
							<div class="dropdown-menu" aria-labelledby="admin_menu">
								{{>components/admin_items}}
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="user_management_menu" data-bs-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">Users</a>
							<div class="dropdown-menu"
								aria-labelledby="user_management_menu">
								<a class="dropdown-item" href="{{req.contextPath}}/admin/user/new"><span class="fa fa-user-plus"></span> New User</a>
								<a class="dropdown-item" href="{{req.contextPath}}/admin/user/list"><span class="fa fa-list"></span> List of Users</a>
							</div>
						</li>
						{{/isAdminOrSuper}}
					</ul>
					<ul class="navbar-nav">
						{{#isLoggedIn}}
						<li class="nav-item">
							<a class="nav-link" href="{{req.contextPath}}/logout"><span class="fa fa-power-off"></span> Log Out ({{username}})</a>
						</li>
						{{/isLoggedIn}}
						{{^isLoggedIn}}
						<li class="nav-item">
							<a class="nav-link" href="{{req.contextPath}}/login"><span class="fa fa-power-off"></span> Log In</a>
						</li>
						{{/isLoggedIn}}
					</ul>
				</div>
			</div>
		</nav>

	</header>

	<main role="main" class="{{#mainClasses}}{{.}}{{/mainClasses}}{{^mainClasses}}container{{/mainClasses}}">