{{>components/form_start}}
{{#entity}}
<div class="form-group">
    <label for="annotationSchema"class="form-label required-field">Annotation schema</label>
    <select class="form-control" id="annotationSchema" name="annotationSchema" value="{{#annotationSchema}}{{.}}{{/annotationSchema}}" required>
        <option value="">-- Please Select --</option>
        {{#annotationSchemaOptions}}
        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/annotationSchemaOptions}}
    </select>
    <div class="invalid-feedback">Value must be present</div>
</div>

<div class="form-group">
    <label for="displayOrder" class="form-label">Display order</label>
    <input type="number" class="form-control" id="displayOrder" name="displayOrder" value="{{#displayOrder}}{{.}}{{/displayOrder}}" >
</div>

<div class="form-group">
    <label for="accentColor" class="form-label">Accent color</label>
    <input type="text" class="form-control" id="accentColor" name="accentColor" value="{{#accentColor}}{{.}}{{/accentColor}}" >
</div>

<div class="form-group">
    <label for="displayLabel" class="form-label">Display label</label>
    <input type="text" class="form-control" id="displayLabel" name="displayLabel" value="{{#displayLabel}}{{.}}{{/displayLabel}}" >
</div>

<div class="form-group">
    <label for="outputLabel" class="form-label">Output label</label>
    <input type="text" class="form-control" id="outputLabel" name="outputLabel" value="{{#outputLabel}}{{.}}{{/outputLabel}}" >
</div>

{{/entity}}
{{>components/form_end}}
