{{>layout/header}}
<div class="container">
    <h1>{{entityName}} List</h1>
    {{>components/messages}}
    <a href="{{req.contextPath}}{{baseRoute}}/new" class="new-entity btn btn-success"><i class="fas fa-plus-circle"></i> New</a>
    <table class="table table-striped table-bordered sorted">
        <thead>
        <tr>
            <th>Annotation schema</th>
            <th>Display order</th>
            <th>Accent color</th>
            <th>Display label</th>
            <th>Output label</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#entity_list}}
        <tr>
            <td>{{#annotationSchema}}{{annotationSchema.label}}{{/annotationSchema}}</td>
            <td>{{#displayOrder}}{{.}}{{/displayOrder}}</td>
            <td>{{#accentColor}}{{.}}{{/accentColor}}</td>
            <td>{{#displayLabel}}{{.}}{{/displayLabel}}</td>
            <td>{{#outputLabel}}{{.}}{{/outputLabel}}</td>
            <td>{{>components/list_actions}}</td>
        </tr>
        {{/entity_list}}
        </tbody>
    </table>
</div>
{{>layout/footer}}
