{{! Data Items used in the header pulldown menu; items are added by the boot_generator scripts. }}

<a class="dropdown-item" href="{{req.contextPath}}/admin/dashboard">Dashboard</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/annotation_schema/">Annotation Schema</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/omop_display_configuration/">OMOP Display Configuration</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/topic_set/">Topic Set</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/pool/">Pool</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/topic/">Topic</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/pool_entry/">Pool Entry</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/export/judgments">Export</a>