{{! Data Items used in the header pulldown menu; items are added by the boot_generator scripts. }}

<a class="dropdown-item" href="{{req.contextPath}}/admin/annotation_schema/">AnnotationSchema</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/topic_set/">TopicSet</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/pool/">Pool</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/topic/">Topic</a>
<a class="dropdown-item" href="{{req.contextPath}}/admin/pool_entry/">PoolEntry</a>