{{! Data Items used in the header pulldown menu; items are added by the boot_generator scripts. }}

<a class="dropdown-item" href="{{req.contextPath}}/data/annotation_schema/">AnnotationSchema</a>
<a class="dropdown-item" href="{{req.contextPath}}/data/topic_set/">TopicSet</a>
<a class="dropdown-item" href="{{req.contextPath}}/data/annotation_label/">AnnotationLabel</a>
<a class="dropdown-item" href="{{req.contextPath}}/data/pool/">Pool</a>
<a class="dropdown-item" href="{{req.contextPath}}/data/topic/">Topic</a>
<a class="dropdown-item" href="{{req.contextPath}}/data/pool_entry/">PoolEntry</a>
<a class="dropdown-item" href="{{req.contextPath}}/data/judgment/">Judgment</a>