{{>components/form_start}}
{{#entity}}
<div class="form-group">
    <label for="topicSet"class=" required-field">Topic set</label>
    <select class="form-control" id="topicSet" name="topicSet" value="{{#topicSet}}{{.}}{{/topicSet}}" required>
        <option value="">-- Please Select --</option>
        {{#topicSetOptions}}
        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/topicSetOptions}}
    </select>
    <div class="invalid-feedback">Value must be present</div>
</div>

<div class="form-group">
    <label for="annotationSchema"class=" required-field">Annotation schema</label>
    <select class="form-control" id="annotationSchema" name="annotationSchema" value="{{#annotationSchema}}{{.}}{{/annotationSchema}}" required>
        <option value="">-- Please Select --</option>
        {{#annotationSchemaOptions}}
        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/annotationSchemaOptions}}
    </select>
    <div class="invalid-feedback">Value must be present</div>
</div>

<div class="form-group">
    <label for="name"class=" required-field">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{#name}}{{.}}{{/name}}" required>
    <div class="invalid-feedback">Value must be present</div>
</div>

<div class="form-group">
    <label for="comments">Comments</label>
    <input type="text" class="form-control" id="comments" name="comments" value="{{#comments}}{{.}}{{/comments}}" >
</div>

{{/entity}}
{{>components/form_end}}