{{>components/form_start}}
{{#entity}}

{{^id}}
<div class="alert alert-danger" role="alert">
If you have already identified a set of Pool Entries for a new Pool, <a href="{{req.contextPath}}/admin/pool_entry/upload">create both simultaneously</a>. Once a Pool is created through the form below, bulk upload of related Pool Entries is no longer supported.
</div>
{{/id}}

<div class="form-group">
    <label for="topicSet" class="form-label required-field">Topic set</label>
    <select class="form-select" id="topicSet" name="topicSet" value="{{#topicSet}}{{.}}{{/topicSet}}" required>
        <option value="">-- Please Select --</option>
        {{#topicSetOptions}}
        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/topicSetOptions}}
    </select>
    <div class="invalid-feedback">Value must be present</div>
</div>

<div class="form-group">
    <label for="annotationSchema" class="form-label required-field">Annotation schema</label>
    <select class="form-select" id="annotationSchema" name="annotationSchema" value="{{#annotationSchema}}{{.}}{{/annotationSchema}}" required>
        <option value="">-- Please Select --</option>
        {{#annotationSchemaOptions}}
        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/annotationSchemaOptions}}
    </select>
    <div class="invalid-feedback">Value must be present</div>
</div>

<div class="form-group">
    <label for="name" class="form-label required-field">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{#name}}{{.}}{{/name}}" required>
    <div class="invalid-feedback">Value must be present</div>
</div>

<div class="form-group">
    <label for="comments" class="form-label">Comments</label>
    <input type="text" class="form-control" id="comments" name="comments" value="{{#comments}}{{.}}{{/comments}}" >
</div>

{{/entity}}
{{>components/form_end}}
