{{>layout/header}}
<div class="container vertical-space">

	<h1>Merge Pools</h1>
	<p class="instructions"><i class="fas fa-info-circle"></i> Merge pool entries and judgments for two pools into one. Only the destination pool will remain. Pools may be merged if they have the same Topic Set and Annotation Schema but their Topics do not overlap.</p>
    <div id="pool_merge" data-context-path="{{req.contextPath}}" data-csrf-token="{{_csrf.token}}"
		data-csrf-header="{{_csrf.headerName}}"></div>

</div>
{{>layout/footer}}