{{>components/form_start}}
{{#entity}}
<div class="form-group">
    <label for="name" class="form-label required-field">Name</label>
    <input type="text" class="form-control" id="name" name="name" value="{{#name}}{{.}}{{/name}}" required>
    <div class="invalid-feedback">Value must be present</div>
</div>

{{/entity}}
{{>components/form_end}}
