{{>layout/header}}
<div class="container-fluid authlib-user-list">
	<h3>Pool Entry Bulk Upload</h3>
	<p class='small text-secondary'>Create a new pool and upload a CSV file with pool entry info.</p>

	<a class='pb-4 upload-link' href="{{req.contextPath}}/admin/pool_entry/upload_template" download><i class="fas fa-file-download"></i>
	 Get template</a>
	<form method="POST" enctype="multipart/form-data"
		action="{{req.contextPath}}/admin/pool_entry/upload/">
		
		<div class="form-group">
			<label for="topicSet" class="form-label required-field">Topic Set</label>
			<select class="form-control" name="topicSet" required>
				<option value=''>-- Please Select --</option>
				{{#topicSetOptions}}
				<option value={{id}} {{#selected}}selected{{/selected}}>{{label}}</option>
				{{/topicSetOptions}}
			</select>
		</div>

		<div class="form-group">
			<label for="annotationSchema" class="form-label required-field">Annotation Schema</label>
			<select class="form-control" name="annotationSchema" required>
				<option value=''>-- Please Select --</option>
				{{#annotationSchemaOptions}}
				<option value={{id}} {{#selected}}selected{{/selected}}>{{label}}</option>
				{{/annotationSchemaOptions}}
			</select>
		</div>

		<div class="form-group">
			<label for="poolName" class="form-label required-field">Pool Name</label>
			<input id="poolName" class="form-control" type="text" name="poolName" required>
			<div class="invalid-feedback">Value must be present</div>
		</div>

		<div class="form-group">
			<label for="poolComments" class="form-label">Pool Comments</label>
			<input id="poolComments" class="form-control" type="text" name="poolComments">
		</div>

		<div class="form-group">
			<label for="file" class="form-label">File to Upload</label> <input class="form-control-file"
				type="file" name="file" required>
		</div>
	
		<div class="form-group">		
			{{>authlib_fragments/forms/csrf_input}}
			<button type="submit" class="btn btn-primary">Submit</button>
			<a href="{{req.contextPath}}{{baseRoute}}/" class="btn btn-link">Cancel</a>
		</div>
	</form>
</div>

{{>layout/footer}}