{{>components/form_start}}
{{#entity}}
<div class="form-group">
    <label for="pool"class=" required-field">Pool</label>
    <select class="form-control" id="pool" name="pool" value="{{#pool}}{{.}}{{/pool}}" required>
        <option value="">-- Please Select --</option>
        {{#poolOptions}}
        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/poolOptions}}
    </select>
    <div class="invalid-feedback">Value must be present</div>
</div>

<div class="form-group">
    <label for="topic"class=" required-field">Topic</label>
    <select class="form-control" id="topic" name="topic" value="{{#topic}}{{.}}{{/topic}}" required>
        <option value="">-- Please Select --</option>
        {{#topicOptions}}
        <option value="{{id}}" {{#selected}}selected{{/selected}}>{{label}}</option>
        {{/topicOptions}}
    </select>
    <div class="invalid-feedback">Value must be present</div>
</div>

<div class="form-group">
    <label for="sortOrder">Sort order</label>
    <input type="number" class="form-control" id="sortOrder" name="sortOrder" value="{{#sortOrder}}{{.}}{{/sortOrder}}" >
</div>

<div class="form-group">
    <label for="documentId">Document id</label>
    <input type="number" class="form-control" id="documentId" name="documentId" value="{{#documentId}}{{.}}{{/documentId}}" >
</div>

<div class="form-group">
    <label for="frequency">Frequency</label>
    <input type="number" class="form-control" id="frequency" name="frequency" value="{{#frequency}}{{.}}{{/frequency}}" >
</div>

{{/entity}}
{{>components/form_end}}
